<div id="comment_container">
    <form mix-post="/api-create-comment/{{ post_pk }}" class="comment-form">
        <div class="comment-form-content">
            <img src="{{ user.user_avatar_path | avatar }}" alt="Avatar" class="w-8 h-8 rounded-full">

            <div class="comment-form-input">
                <textarea name="comment" id="comment_textarea_{{ post_pk }}" placeholder="{{ lans('post_your_reply') }}"
                    class="comment-textarea" rows="3"></textarea> 

                <button type="submit" class="btn-reply"> 
                    {{ lans("reply") }}
                </button>
            </div>
        </div>
    </form>
</div>