<h1>
    Are you sure you want to delete your account?
</h1>

<div class="py-8 d-flex flex-col a-items-center">
    <a href="/api-delete-profile" mix-delete class="text-c-red" hover="cursor-pointer" mix-delay="3000" mix-await="Deleting account...">
        Yes - Delete my account
    </a>
    <!-- <button mix-delete="/api-delete-profile" class="text-c-red" hover="cursor-pointer" mix-delay="3000">
        Yes - Delete my account
    </button> -->
    <a href="/edit_profile" mix-get class="edit-profile-btn">
        No - Cancel
    </a>
</div>