<h1>
    {{ lans("admin_panel") }}
</h1>

<section>
    <h2>{{ lans("active_users") }}</h2>
    <div id="unblocked_user_list">
        {% for row in rows: %}
        {% include "_user.html" %}
        {% endfor %}
    </div>

    <div id="blocked_user_list">
        <h2>{{ lans("blocked_users") }}</h2>
        {% for row in blocked_rows: %}
        {% include "_user.html" %}
        {% endfor %}
    </div>

    <form action="/get-data-from-sheet" mix-get>
        <button type="submit" class=" px-4 py-1 text-c-white bg-c-black rounded-lg mt-10">{{ lans("get_dictionary") }}</button>
    </form>
</section>