<div class="profile-container">
    <div class="profile-header">
        {% include "___button_back.html" %}
        
        <div class="header-info">
            <h2>{{ user.user_name }}</h2>
            <p class="post-count">{{ posts|length }} {{ lans("posts") }}</p>
        </div>
    </div>
    <div class="profile-banner"></div>

    <div class="profile-avatar-wrapper">
        <img id="current_avatar" src="{{ user.user_avatar_path | avatar }}" alt="Current avatar" class="profile-avatar">
    </div>


    <!-- Edit Profile Button -->
    <div class="edit-profile-wrapper">
        <a href="/edit_profile" mix-get class="edit-profile-btn">
            {{ lans("edit_profile") }}
        </a>
    </div>

    <div class="profile-names">
        <div class="profile-name">{{ user.user_name }}</div>
        <div class="profile-username">@{{ user.user_username }}</div>

        <!-- Bio (if user has one) -->
        {% if user.user_bio %}
        <p class="profile-bio">{{ user.user_bio }}</p>
        {% endif %}

        <!-- Joined Date -->
        <div class="profile-meta">
            <i class="fa-regular fa-calendar"></i>
            <span>{{ lans("joined") }} {{ x.format_timestamp(user.created_at) }}</span>
        </div> <!-- TODO: mangler translate på timestamp -->


        <!-- Followers and Following Stats -->
        <div class="profile-stats">
            <a href="/all-user-follows" mix-get>
                {{ user.user_total_follows }} {{ lans("following") }}
            </a>
            <a href="/all-user-followers" mix-get>
                {{ user.user_total_followers }} {{ lans("followers") }}
            </a>

        </div>
    </div>

    <!-- Tabs with MIX -->
    <div class="profile-tabs">
        <button class="tab-btn active" mix-get="/api-get-users-posts">
            {{ lans("posts") }}
        </button>
        <button class="tab-btn" mix-get="/api-get-bookmarks">
            {{ lans("bookmarks") }}
        </button>
        <button class="tab-btn">
            {{ lans("likes") }}
        </button>
    </div>

    <!-- Posts container -->
    <div class="posts">
        <div id="profile-posts">
            {% if posts|length == 0: %}
            <div class="no-posts">
                <p>{{ lans("no_posts_yet") }}</p>
            </div>
            {% else: %}
            {% for tweet in posts: %}
            {% include "_tweet.html" %}

            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
