<div class="profile-container">
    <div class="profile-header">
        <a href="/home" mix-get>
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <div>
            <h2>{{ user.user_first_name }}</h2>
            <p class="handle">{{ posts|length }} posts</p>
        </div>
    </div>
    <div class="profile-banner"></div>

    <div class="avatar-container">
        <img id="current_avatar" src="{{ user.user_avatar_path | avatar }}" alt="Current avatar">
    </div>


    <div class="profile-names">
        <div class="profile-name">{{ user.user_first_name }}</div>
        <div class="profile-username">@{{ user.user_username }}</div>
        <p class="post-count">{{ posts|length }} posts</p>
    </div>
    <div class="profile-tabs">
        <button class="tab-btn active">Posts</button>
        <button class="tab-btn">Media</button>
        <button class="tab-btn">Likes</button>
    </div>
    <div class="posts">
        <div id="profile-posts">
            {% if posts|length == 0: %}
            <div class="no-posts">
                <p>No posts yet</p>
            </div>
            {% else: %}
            {% for post in posts: %}
            <article class="post" mix-fade-in="5000">
                <img src="{{ user.user_avatar_path | avatar }}" alt="Avatar" class="w-8 h-8 rounded-full">
                <div class="post-content">
                    <div class="post-header">
                        <span class="name">
                            {{ post.user_first_name }}
                            {{ post.user_last_name }}
                        </span>
                        <span class="handle">@{{ post.user_username }}</span> · <span class="time">{{ post.created_at
                            }}</span>
                    </div>
                    <p class="text">
                        {{ post.post_message }}
                    </p>
                    {% if post.post_media_path: %}
                    <img src="{{ url_for('static', filename='images/' ~ post.post_media_path) }}" alt="Post image"
                        class="w-80">
                    {% endif %}

                    <div class="post-actions">
                        <span class="action"><i class="fa-regular fa-comment"></i> 0</span>
                        <span class="action"><i class="fa-solid fa-retweet"></i> 0</span>
                        <span class="action"><i class="fa-regular fa-heart"></i> {{ post.post_total_likes }}</span>
                        <span class="action"><i class="fa-solid fa-chart-simple"></i> 0</span>
                        <span class="action"><i class="fa-solid fa-share"></i></span>
                    </div>
                </div>
            </article>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <a href="/edit_profile" mix-get>Edit profile</a>
</div>